.previewCard {
    background-color: #EBF4F7;
}

.previewCardCover {
    height: 110px;
    overflow-y: hidden;
}

.averageRating {
    background-color: #E1EFF2;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50px;
    border-radius: 25px;
    padding: 4px 8px;
}